* {
	margin:0;
	padding: 0;
	
}
ul {
  list-style: none;
}
a {
	text-decoration: none;
}

.gorizont { 
	font-size: 18px;
	background: #f45623; 
	list-style: none;
	display: flex;	
	justify-content:space-around;
}

.gorizont a {
	color: white;
	display: block;
    padding: 1em;
    margin: 0.5em;
}
.gorizont a:hover {
  background-color: #396105;
}

.divvert {
	display: flex;
}

.vert {
	margin-top: 20px;
	background: #062e5c;
}
.vert li {
	font-size: 18px;
	padding-top: 10px;
}
.vert a{
	display: block;
    padding: 1em;
    margin: 0.5em;
	color: orange;
}
.vert a:hover {
  background-color: #396105;
}

.comm {
	padding: 20px;
	background-color: #90cf0a;
	margin:20px auto;
}

.mnogour {
	margin-top: 10px;
}
.mnogour ul {
	
	display: flex;
	justify-content:space-around;
	background-color: gray;
}

.topmenu a {
	color: white;
	display: block;
    padding: 1em;
    margin: 0.5em;
}

.topmenu a:hover {
  background-color: black;
  color: white;
}

.submenu {
	margin: 0;
	padding: 0;
  position: absolute;
  min-width: 600px;
  background: white;
  visibility: hidden;
  opacity: 0; 
}

li:hover > .submenu {
	visibility: visible;
	opacity: 1;
}

input {
	border: ;
  padding: 1.5em;
  width: 10%;
}

footer {
	display: flex;
	margin-top: 10px;
	justify-content: space-between;
}

footer a{
	margin: 0 auto;
}


img {
	margin-left: 10px;
	width: 40px;
	height: 40px;
}
